@import url('../constants.css');

/* Home Section */
.profile-img {
    background-image: url('../assets/images/profile/headshot.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 767px;
    margin-left: 540px;
}

/* About Me Section */
.ftco-about .img-about {
    width: 90%;
    height: 85%;
    z-index: 0;
    position: relative;
}

.ftco-about .img-about .img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.about-me-box {
    background-color: var(--transparent-grey);
    border-radius: 10px;
    padding: 20px;
}

/* Technologies Section */
.tech-card {
    margin: 20px;
    background: var(--dark);
    border-radius: 16px;
    padding: 25px 15px;
    box-shadow: 0 0 10px var(--dark);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary);
    animation: fadeInUp 0.5s ease forwards;
    opacity: 0;
  }
  
  .tech-card:hover {
    box-shadow: 0 0 25px var(--light), 0 0 50px var(--dark);
    transform: translateY(-8px);
  }
  
  .tech-logo {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }
  
  .tab-button {
    width: 100%;
    font-weight: 600;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid var(--light);
    color: var(--white);
    transition: background 0.3s;
  }
  
  .tab-button:hover,
  .tab-button.active {
    background-color: var(--light);
    color: var(--white);
  }

/* Projects Section */
.project {
    width: 100%;
    height: 285px;
    max-width: 300px;
    margin-bottom: 30px;
    position: relative;
    z-index: 0;
    border-radius: 15px;
    overflow: hidden;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    background: var(--primary);
    z-index: -1;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.project .text {
    max-width: 80%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 15px;
    position: relative;
}

.project .text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project .text h3 a {
    color: var(--white);
}

.project .text span {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
}

.project:hover .overlay,
.project:focus .overlay {
    opacity: .9;
}

.project:hover .text,
.project:focus .text {
    opacity: 1;
}

/* Contact Section */

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon-box {
    text-align: center;
    padding: 1rem;
}

.contact-logo {
    width: 70px;
    height: 70px;
    fill: var(--primary);
}

.icon-box .icon {
    width: 120px;
    height: 120px;
    margin: 0 auto 2em;
    background: var(--transparent-grey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out, background 0.1s ease-out;
}

.icon-box .icon span {
    font-size: 50px;
    color: var(--primary);
}

.icon-box .icon:hover {
    background: var(--light);
    transform: scale(1.1);
}

/* Footer Section */

/* Device Specific Styles */

/* Phone (max-width: 767px) */
@media (max-width: 767px) {
    .project {
        width: 90%;
        max-width: 300px;
        margin: 0 auto 30px;
    }

    .about-me-box {
        height: 100%;
        padding: 15px;
        font-size: 1rem;
    }

    .about-me-box h2 {
        font-size: 3rem;
    }

    .icon-box .icon {
        width: 80px;
        height: 80px;
    }
}

/* Tablet (min-width: 768px and max-width: 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .project {
        width: 90%;
        max-width: 300px;
        margin: 0 auto 30px;
    }
    
    .about-me-box {
        height: 400px;
        padding: 15px;
        font-size: 0.84rem;
    }

    .about-me-box h2 {
        font-size: 2rem;
    }
    
    .icon-box .icon {
        width: 100px;
        height: 100px;
    }
}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {}