@import url('constants.css');

.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 40px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.section-header {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}

.section-header h1,
.section-header h2 {
  margin: 0.5rem 0;
}

.section-header h1 {
  position: absolute;
  top: 0px;
  color: var(--transparent-grey);
  z-index: -1;
  font-weight: 900;
  font-size: 4rem;
}

.section-header h2 {
  color: var(--white);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Device Specific Styles */

/* Phone (max-width: 767.98px) */
@media (max-width: 767.98px) {
  .section-header h1 {
    font-size: 3rem;
  }

  .section-header h2 {
    font-size: 2.4rem;
  }
}

/* Tablet (min-width: 768px and max-width: 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {}

#home-section .profile-img {
  background-size: cover;
  background-position: center;
  height: 100%;
}

#home-section h1 {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: 600;
}

#home-section h1 {
  color: var(--light);
}

#home-section h1 span {
  color: var(--white);
}

#home-section h2 {
  color: var(--light);
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1.5rem
}

#home-section h3,
#home-section h3 span {
  font-size: 1.5em;
  color: var(--white);
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1.5rem
}

#home-section .text-col {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 1rem;
}

#home-section .image-col {
  order: 2;
}

#home-section .image-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

#home-section .image-wrapper img {
  opacity: 1.0;
}

/* Device Specific Styles */

/* Phone (max-width: 767.98px) */
@media (max-width: 767.98px) {
  #home-section .container {
    display: flex;
  }

  #home-section .text {
    margin-top: 30px;
  }

  #home-section h1,
  #home-section h1 span,
  #home-section h2,
  #home-section h3,
  #home-section h4 {
    text-align: center;
  }

  #home-section h1 {
    font-size: 4rem;
  }

  #home-section h3 {
    font-size: 2rem;
  }

  #home-section h4 {
    font-size: 1.4rem;
  }

  #home-section .profile-img {
    width: 100%;

  }

  #home-section .image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
  }

  #home-section .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  #home-section .image-wrapper {
    display: none;
  }
}

/* Tablet (min-width: 768px and max-width: 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #home-section .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #home-section .text-col {
    order: 1;
    width: 60%;
    text-align: left;
  }

  #home-section h1 {
    font-size: 2.7rem;
  }

  #home-section .image-col {
    order: 2;
    width: 50%;
  }

  #home-section .image-wrapper {
    position: relative;
    z-index: 1;
  }

  #home-section .image-wrapper img {
    opacity: 1.0;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {
  #home-section .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #home-section .text-col {
    order: 1;
    width: 60%;
    text-align: left;
  }

  #home-section .image-col {
    order: 2;
    width: 90%;
  }

  #home-section .image-wrapper {
    position: relative;
    z-index: 1;
  }

  #home-section .image-wrapper img {
    opacity: 1.0;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

/* About Me Section */
#about-me-section .row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 30px;
}

#about-me-section .about-me-img,
#about-me-section .about-me-box {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

#about-me-section .about-me-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
}

#about-me-section .about-me-box {
  background-color: var(--transparent-grey);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-me-section h2 {
  margin-bottom: 1.5rem;
}

/* Device Specific Styles */

/* Phone (max-width: 767.98px) */
@media (max-width: 767.98px) {
  #about-me-section .row {
    flex-direction: column;
  }

  #about-me-section .about-me-img,
  #about-me-section .about-me-box {
    width: 100%;
    height: auto;
  }

  #about-me-section .about-me-box {
    padding: 15px;
    font-size: 1rem;
  }

  #about-me-section h2 {
    font-size: 3rem;
    text-align: center;
  }

  #about-me-section p {
    font-size: 1.1rem;
  }
}

/* Tablet (min-width: 768px and max-width: 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #about-me-section .about-me-box {
    padding: 15px;
    font-size: 0.84rem;
  }

  #about-me-section h2 {
    font-size: 2rem;
  }
}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {

  #about-me-section .about-me-img,
  #about-me-section .about-me-box {
    min-height: 390px;
  }
}

/* Resume Section */
#resume-section .row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
}

#resume-section .resume-box {
  flex: 1 1 calc(50% - 15px);
  background: var(--transparent-grey);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

#resume-section .date {
  display: block;
  font-weight: 900;
  font-size: 26px;
  color: var(--primary);
}

#resume-section .position {
  display: block;
  font-size: 2rem;
  color: var(--white);
}

#resume-section .location {
  display: block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#resume-section p {
  margin-top: 1.5rem
}

#resume-section .button {
  background-color: var(--primary);
}

#resume-section .button:hover {
  background-color: var(--light);
}

#resume-section .button p {
  color: var(--black);
  margin: 0.2em;
}

/* Device Specific Styles */

/* Phone (max-width: 767.98px) */
@media (max-width: 767.98px) {}

/* Tablet (min-width: 768px and max-width: 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {}

/* Technologies Section */
#technologies-section .tech-box {
  text-align: center;
  margin: 20px;
  background: var(--dark);
  border-radius: 16px;
  padding: 25px 15px;
  box-shadow: 0 0 10px var(--dark);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--primary);
  animation: fadeInUp 0.5s ease forwards;
  opacity: 0;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#technologies-section .tech-box:hover {
  box-shadow: 0 0 25px var(--light), 0 0 50px var(--dark);
  transform: translateY(-8px);
}

#technologies-section .tech-logo {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}

#technologies-section .tab-button {
  width: 100%;
}

#technologies-section .tab-button button {
  width: 100%;
  font-weight: 600;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid var(--light);
  color: var(--white);
  transition: background 0.3s, color 0.3s;
}

#technologies-section .tab-button:hover button,
#technologies-section .tab-button.active button {
  background-color: var(--light);
  color: var(--white);
}

#technologies-section .technology-container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* Device Specific Styles */

/* Phone (max-width: 767.98px) */
@media (max-width: 767.98px) {}

/* Tablet (min-width: 768px and max-width: 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #technologies-section .technology-container {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  
  #technologies-section .tech-box {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {
  #technologies-section .technology-container {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  
  #technologies-section .tech-box {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Projects Section */
#projects-section .project-container {
  position: relative;
  width: 100%;
}

#projects-section .project {
  width: 100%;
  height: 285px;
  max-width: 300px;
  margin: 0 auto 30px;
  position: relative;
  z-index: 0;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}

#projects-section .project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: var(--primary);
  z-index: -1;
  transition: all 0.3s ease;
  border-radius: 15px;
}

#projects-section .project .text {
  padding: 1.5rem;
  max-width: 80%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px;
  position: relative;
}

#projects-section .project .text h2 {
  margin-bottom: 1.5rem
}

#projects-section .project .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#projects-section .project .text h3 a {
  color: var(--white);
}

#projects-section .project .text span {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 600;
}

#projects-section .project:hover .overlay,
#projects-section .project:focus .overlay {
  opacity: .75;
}

#projects-section .project:hover .text,
#projects-section .project:focus .text {
  opacity: 1;
}

/* Device Specific Styles */

/* Phone (max-width: 767.98px) */
@media (max-width: 767.98px) {
  #projects-section .project {
    width: 90%;
    max-width: 300px;
    margin: 0 auto 30px;
  }
}

/* Tablet (min-width: 768px and max-width: 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #projects-section .project-container {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  #projects-section .project {
    width: 90%;
    max-width: 300px;
    margin: 0 auto 30px;
  }
}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {
  #projects-section .project-container {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

/* Contact Section */
#contact-section .contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#contact-section .contact-icon-box {
  text-align: center;
  padding: 1rem;
}

#contact-section .contact-logo {
  width: 70px;
  height: 70px;
  fill: var(--primary);
}

#contact-section .contact-icon-box .icon {
  width: 120px;
  height: 120px;
  margin: 0 auto 2em;
  background: var(--transparent-grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out, background 0.1s ease-out;
}

#contact-section .contact-icon-box .icon span {
  font-size: 50px;
  color: var(--primary);
}

#contact-section .contact-icon-box .icon:hover {
  background: var(--light);
  transform: scale(1.1);
}

/* Device Specific Styles */

/* Phone (max-width: 767.98px) */
@media (max-width: 767.98px) {
  #contact-section .contact-icon-box .icon {
    width: 90px;
    height: 90px;
  }

  #contact-section .contact-icons {
    gap: 0rem;
  }

  #contact-section .contact-logo {
    width: 55px;
    height: 55px;
  }
}

/* Tablet (min-width: 768px and max-width: 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {}

/* Footer Section */

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  text-align: center;
  justify-content: center;
}

/* Device Specific Styles */

/* Phone (max-width: 767.98px) */
@media (max-width: 767.98px) {}

/* Tablet (min-width: 768px and max-width: 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}


p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

b,
strong {
  font-weight: bolder;
}

a {
  color: var(--white);
  text-decoration: none;
  background-color: transparent;
}

samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

[type="search"] {
  outline-offset: -2px;
  appearance: none;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 70%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none;
  }
}

.button:hover {
  color: var(--white);
  text-decoration: none;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: var(--light-grey);
  pointer-events: none;
  cursor: default;
}

.nav-item {
  margin-bottom: -1px;
}

.nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-link.disabled {
  color: var(--light-grey);
  background-color: transparent;
  border-color: transparent;
}

.nav-link {
  border-radius: 0.25rem;
}

.nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

#navbar .navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar>.container {
  display: flex;
  flex-wrap: wrap;
}

#navbar .navbar-logo {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar .navbar-logo:hover,
.navbar .navbar-logo:focus {
  color: var(--black);
}


.navbar-logo {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}

.navbar .navbar-menu .nav-link {
  color: var(--black);
}

.navbar .navbar-menu .nav-link:hover,
.navbar .navbar-menu .nav-link:focus {
  color: var(--black);
}

.navbar .navbar-menu .nav-link.disabled {
  color: var(--transparent-grey);
}

.navbar .navbar-menu .show>.nav-link,
.navbar .navbar-menu .active>.nav-link,
.navbar .navbar-menu .nav-link.show,
.navbar .navbar-menu .nav-link.active {
  color: var(--black);
}

.navbar .navbar-toggler {
  color: var(--white);
  border-color: var(--transparent-grey);
}

@media (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) {
  .navbar-menu {
    flex-direction: row;
  }

  .navbar-collapse {
    display: flex;
    flex-basis: auto;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
}

.page-link:hover {
  z-index: 2;
  text-decoration: none;
  background-color: var(--white);
}

.page-link:focus {
  z-index: 2;
  outline: 0;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: var(--white);
}

.page-item.disabled .page-link {
  color: var(--light-grey);
  pointer-events: none;
  cursor: auto;
  background-color: var(--white);
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}

a.badge:hover,
a.badge:focus {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.button .badge {
  position: relative;
  top: -1px;
}

.align-baseline {
  vertical-align: baseline;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row;
  }

  .flex-sm-column {
    flex-direction: column;
  }

  .flex-sm-row-reverse {
    flex-direction: row-reverse;
  }

  .flex-sm-column-reverse {
    flex-direction: column-reverse;
  }

  .flex-sm-wrap {
    flex-wrap: wrap;
  }

  .flex-sm-nowrap {
    flex-wrap: nowrap;
  }

  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .flex-sm-fill {
    flex: 1 1 auto;
  }

  .align-items-sm-start {
    align-items: flex-start;
  }

  .align-items-sm-end {
    align-items: flex-end;
  }

  .align-items-sm-center {
    align-items: center;
  }

  .align-items-sm-baseline {
    align-items: baseline;
  }

  .align-items-sm-stretch {
    align-items: stretch;
  }
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.min-vw-100 {
  min-width: 100vw;
}

.vw-100 {
  width: 100vw;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: var(--transparent-grey);
}

.text-center {
  text-align: center;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}

.text-reset {
  color: inherit;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: var(--black);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: var(--light-grey);
}

body.menu-show {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

a {
  transition: .3s all ease;
  color: var(--primary);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--primary);
  outline: none;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  line-height: 1.5;
  color: white;
  font-weight: 400;
}

.text-primary {
  color: var(--primary);
}

.navbar {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

@media (max-width: 991.98px) {
  .navbar {
    background: var(--black);
    position: relative;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar .navbar-logo {
    color: var(--white);
  }

  .navbar .navbar-menu {
    padding-bottom: 20px;
    margin-right: 0;
  }

  .navbar .navbar-menu>.nav-item>.nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 0;
    color: var(--white);
  }
}

.navbar .navbar-logo {
  color: var(--white);
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.navbar .navbar-logo:hover,
.navbar .navbar-logo:focus {
  color: var(--white);
}

.navbar .navbar-menu>.nav-item>.nav-link {
  font-size: 16px;
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--white);
  font-weight: 400;
  opacity: 1;
}

.navbar .navbar-menu>.nav-item>.nav-link span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

.navbar .navbar-menu>.nav-item>.nav-link span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--primary);
  visibility: visible;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar .navbar-menu>.nav-item>.nav-link:hover span:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar .navbar-menu>.nav-item.cta>a {
  color: var(--white);
  border: 1px solid var(--primary);
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 18px;
  padding-right: 18px;
  background: var(--primary);
  margin-top: 0;
  border-radius: 5px;
}

.navbar .navbar-menu>.nav-item .nav-link.active {
  background: transparent;
  background: none;
  color: var(--primary);
}

.navbar .navbar-menu>.nav-item .nav-link.active span:before {
  visibility: visible;
  transform: scaleX(1);
}

.button {
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0px 24px 36px -11px var(--black);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.button:hover,
.button:active,
.button:focus {
  outline: none;
}

@media (min-width: 992px) {
  .margin-top {
    margin-top: -70px;
    padding-top: 10em;
  }
}

@media (max-width: 1199.98px) {}

.animate {
  opacity: 0;
  visibility: hidden;
}

.section {
  padding: 7em 0;
  position: relative;
}

@media (max-width: 767.98px) {
  .section {
    padding: 6em 0;
  }
}

.no-pb {
  padding-bottom: 0em;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}