.cardContainer {
    background-color: var(--transparent-grey);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 25px;
    width: 100%;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid grey;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.cardContainer:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-color: var(--primary);
}

.cardImageContainer {
    width: 80px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.cardImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardHeader {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 2px 0;
    gap: 20px;
}

.textContent {
    width: 75%;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.textContent h1 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
}

.textContent p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    color: white;
}

.cardFeatures {
    color: white;
    text-align: left;
}

.cardFeatures h4 {
    font-weight: 600;
}

.cardTechStack {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    align-items: flex-start;
}

.techItem {
    font-size: 16px;
    min-width: 100px;
    color: white;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

.techIcon {
    margin-right: 8px;
    vertical-align: middle;
}

@media (max-width: 1024px) {
    .cardTechStack {
        min-width: 75px;
    }

    .cardImageContainer {
        width: 60px;
    }

    .textContent h1 {
        font-size: 1.6rem;
    }

    .textContent p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .cardTechStack {
        flex-direction: row;
        align-items: flex-end;
    }
}

@media (max-width: 480px) {
    .cardTechStack {
        padding: 5px 7px;
        min-width: 75px;
    }
}