.projectCard {
    background-color: var(--transparent-grey);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 25px;
    width: 100%;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid grey;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.projectCard:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-color: var(--primary);
}

.projectImage {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 13px;
    background-color: black;
    aspect-ratio: 2.75/1;
    overflow: hidden;
    margin-top: 15px;
}

.projectImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectHeader {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 2px 0;
    gap: 20px;
}

.projectDivider {
    height: 2px;
    background-color: grey;
    width: 100%;
    margin-top: 8px;
}

.projectTitle {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.projectTitle h1 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
}

.projectTitle p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    color: white;
}

.projectBody {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    width: 100%;
    margin-top: 10px;
    flex-wrap: nowrap;
}

.projectFeatures p {
    font-weight: 300;
    font-size: 14px;
    margin: 0px;
    text-align: left;
    width: 100%;
}

.projectTech {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
    margin-left: auto;
}

.techList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    justify-content: flex-end;
}

.techIcon {
    margin-right: 8px;
    vertical-align: middle;
}

@media (min-width: 1024px) {
    .projectBody {
        flex-direction: column;
        align-items: flex-start;
    }

    .projectTech {
        margin-top: 15px;
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
    .techList {
        min-width: 75px;
    }

    .projectTitle h1 {
        font-size: 1.6rem;
    }

    .projectTitle p {
        font-size: 0.9rem;
    }
}

@media (min-width: 480px) and (max-width: 767.98px) {
    .techList {
        flex-direction: row;
    }

    .projectBody {
        flex-direction: column;
        align-items: flex-start;
    }

    .projectTech {
        margin-top: 15px;
        margin-left: 0;
    }
}

@media (max-width: 479.98px) {
    .techList {
        padding: 5px 7px;
        min-width: 75px;
        flex-direction: row;
    }

    .projectBody {
        flex-direction: column;
        align-items: flex-start;
    }

    .projectTech {
        margin-top: 15px;
        margin-left: 0;
    }
}