@import url("constants.css");

.section-header {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}

.section-header h1,
.section-header h2 {
  margin: 0.5rem 0;
}

.section-header h1 {
  position: absolute;
  top: 0px;
  color: var(--transparent-grey);
  z-index: -1;
  font-weight: 900;
  font-size: 4rem;
}

.section-header h2 {
  color: var(--white);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Phone (max-width: 767.98px) */
@media (max-width: 767.98px) {
  .section-header h1 {
    font-size: 3rem;
  }

  .section-header h2 {
    font-size: 2.4rem;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  text-align: center;
  justify-content: center;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  font-weight: bolder;
}

a {
  color: var(--white);
  text-decoration: none;
}

button:focus {
  outline: 1px dotted;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 70%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  overflow: visible;
  text-transform: none;
  border-radius: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

nav {
  display: flex;
  padding: 0.5rem 1rem;
}

.navbar-link {
  padding-left: 20px;
  padding-right: 20px;
  color: var(--white);
  text-decoration: none;
}

.navbar-logo {
  color: var(--white);
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--white);
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.navbar-menu {
  display: flex;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto;
  align-items: center;
}

@media (max-width: 991.98px) {
  .navbar-menu {
    display: none;
  }
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: var(--black);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: var(--light-grey);
}

a {
  transition: .3s all ease;
  color: var(--primary);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--primary);
  outline: none;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  line-height: 1.5;
  color: white;
  font-weight: 400;
}

.section {
  padding: 7em 0;
  position: relative;
}

@media (max-width: 767.98px) {
  .section {
    padding: 6em 0;
  }
}

/* Animations */
.animate {
  opacity: 0;
  visibility: hidden;
}

.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 40px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}