a:hover {
    color: white;
}

.projectsContent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    gap: 30px;
    margin: 50px 0;
    text-align: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 991.98px) {
    .projectsContent {
        width: 80%;
        grid-template-columns: repeat(1, minmax(280px, 1fr));
    }
}