.skillsContentItems {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skillItem {
  background-color: #1a1a1a;
  border: 1px solid #454545;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 75px;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.skillItem:hover {
  filter: brightness(1.25);
}

.itemImage {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  padding: 10px;
  background-color: #454545;
  flex-shrink: 0;
  overflow: hidden;
}

.itemTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemTitle p {
  font-size: 14px;
  margin: 0;
}

.itemTitle span {
  font-size: 10px;
  color: #b3b3b3;
}

.skillIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media (max-width: 991.98px) {
  .skillsContentItems {
    gap: 15px;
  }

  .skillItem {
    max-width: 250px;
    height: 70px;
    padding: 10px 15px;
    gap: 15px;
  }

  .itemImage {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    padding: 10px;
  }
}

@media (max-width: 767.98px) {
  .skillItem {
    max-width: 225px;
    height: 65px;
    padding: 7.5px 12.5px;
    gap: 12px;
  }

  .itemImage {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 560px) {
  .skillItem {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 60px;
    margin: 15px 5px;
    padding: 5px 10px;
  }

  .itemTitle {
    display: none;
  }
}